{% extends "base.html" %}

{% block content %}

    <h1>¡Hola Mundo!</h1>
    <h1>Salas del ITID</h1>
    {% for sala in salas %}
        <div>
            <h3>{{ sala.nombre }} (Capacidad: {{ sala.capacidad_maxima }})</h3>
            {% if sala.disponible %}
                <p style="color: green;">Disponible</p>
                <a href="{% url 'crear_reserva' %}">Reservar</a>
            {% else %}
                <p style="color: red;">Reservada</p>
            {% endif %}
            <br>
            <a href="{% url 'detalle_sala' sala.id %}">Ver detalle</a>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
